@use 'src/styles/mixin' as *;
@use 'src/styles/colors' as *;

.img--span {
    @include positionFixAbs(fixed);
    bottom: 0px;
    z-index: -1;
    &--meteo {
        @include imgFormat(100%);
        opacity: 0.8;
    }
}

.maintitle { 
    &--h1 {
        color: $whitesmoke;
        text-shadow: 5px 0px 1px $grey;
        padding: 20px 0px;
    }
}

hr {
    visibility: hidden;
}

.dataweather--section {
    @include displayFlexDir();
    background-color: $black--opacity;
}
