@use 'src/styles/colors' as *;

.img--span {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /*filter: opacity(90%);*/
    z-index: -1;
    &--meteo {
        display: flex;
        width: 100%;
        height: auto;
        opacity: 0.8;
        object-fit: cover;
    }
}

.maintitle { 
    &--h1 {
        color: $whitesmoke;
        text-shadow: 5px 0px 1px $grey;

        padding: 20px 0px;
    }
}

hr {
    visibility: hidden;
}

.dataweather--section {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    background-color: $black--opacity;
}
