@import './App.scss';
@import './styles/_mixin.scss';
@import './styles/_colors.scss';
@import './components/styles/_AlertSection.scss';
@import './components/styles/_DataWeather.scss';
@import './components/styles/_DateHour.scss';
@import './components/styles/_EmailSender.scss';
@import './components/styles/_SonarStorm.scss';
@import './components/styles/_LineChart.scss';

:root {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: #f5f5f5;
  background: deepskyblue;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  
  background-color: rgba(0, 70, 250, 0.7);
  box-shadow: 0px 0px 7px #f5f5f5;
}

h1 {
  text-align: center;
  font-size: 2.2rem;
  margin: auto;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 80%;
  margin: auto;
  padding: 20px;

  background-color: rgba(0, 70, 250, 0.7);
  color: #f5f5f5;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  font-weight: 600;
}

footer {
  position: absolute;
  right: 0px;
  left: 0px;
  
  text-align: center;

  background-color: rgba(0, 70, 250, 0.7);
  box-shadow: 0px 0px 7px #f5f5f5;
}