@import './_App.scss';
@import './styles/_mixin.scss';
@import './styles/_colors.scss';
@import './components/styles/_AlertSection.scss';
@import './components/styles/_DateHour.scss';
@import './components/styles/_EmailSender.scss';
@import './components/styles/_LineChart.scss';
@import './components/styles/_Weather.scss';

:root {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: $whitesmoke;
  background: deepskyblue;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  @include positionFixAbs(absolute);
  @include bgPlusOptions($black--light--opacity, box-shadow, 0px 0px 7px $light--sandybrown);
}

h1 {
  text-align: center;
  font-size: 2.2rem;
  margin: auto;
}

section {
  @include displayAlignJustify(space-between);
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: $black--opacity;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  font-weight: 600;
}

footer {
  position: absolute;
  right: 0px;
  left: 0px;
  @include displayJustify();
  @include bgPlusOptions($black--light--opacity, box-shadow, 0px 0px 7px $light--sandybrown);
  padding: 10px 0px;
  .apilogo {
    @include widthHeight(10%, auto);  
    &--img {
      @include imgFormat(100%);
    }
  }
}