$whitesmoke: #f5f5f5;
$white--opacity--light:rgba(255,255,255, 0.1);
$magenta: #ff00ff;
$sandybrown: #f4a460;
$salmon: #fa8072;
$light--sandybrown: rgba(245, 166, 97, 0.5);
$grey: #808080;
$black: #000;
$black--opacity:rgba(0, 0, 0, 0.5);
$black--light--opacity: rgba(0,0,0, 0.2);
$black--42: #424242;