.alert {
    border-radius: 7px;
    &--title {
        color: $sandybrown;
    }
    &--container {
        display: flex;
        justify-content: center;
        width: 80%;
    }
    &--box {
        text-align: center;
        margin-right: 10%;
        span {
            font-size: 2rem;
            font-weight: 600;
            color: orangered;
        }
    }
}