.alert {
    border-radius: 7px;
    &--title {
        color: $sandybrown;
    }
    &--container {
        @include displayJustify();
        width: 80%;
    }
    &--box {
        text-align: center;
        margin-right: 10%;
        span {
            @include fontSW(2rem);
            color: $orangered;
        }
    }
}