.email {
    @include displayFlexDir();
    margin-bottom: 40px;
    &--title {
        width: 100%;
        color: $sandybrown;
    }
    &--divform {
        @include displayJustify();
        width: 100%;
        .form {
            @include displayAlignFlexJustify(column, space-between, 80%);
            &--label {
                @include widthMarBFontSizeColorPad(50%, $whitesmoke, 7px 0px);
            }
            &--input {
                @include widthMarBFontSizeColorPad(48%, $sandybrown, 7px 10px);
                @include bgBdOutBrBoxShadow();
            }
            &--textarea {
                @include fontSizeColor(47%, font-size, 1.1rem, $whitesmoke, auto, 10px);
                @include bgBdOutBrBoxShadow();
            }
            &--btn {
                @include fontSizeColor(50%, font-weight, 600, $sandybrown, 20px auto, 12px);
                @include bgBdBr($black--opacity, 1px solid $light--sandybrown);
                transition: ease 0.5s;
                &:hover {
                    @include bgPlusOptions($sandybrown, color, $black--42);
                }
                &:active {
                    @include bgPlusOptions($salmon, color, $lightgreen);
                }
            }
            &--error {
                width: 50%;
                margin: auto;
                @include bgPlusOptions($salmon, color, $whitesmoke);                
                p {
                    text-align: center;
                }
            }
        }
    }
}
