.lineChart {
    @include displayFlexDir();
    &--container {
        display: flex;
        @include widthHeight(100%, 400px);    
        @include bgBdBr($black--light--opacity, $black);
    }
    &--a {
        @include bgBdBr($black--opacity, 1px solid $light--sandybrown);
        text-decoration: none;
        color: $sandybrown;
        @include marginPad(margin-top, 20px, 10px 30px);
        transition: ease 0.5s;
        span {
            color: $sandybrown; 
        }
        &:hover {
            background: $sandybrown;
            span {
                margin: auto;
                color: $black--42; 
            }
        }
        &:active {
            background: $salmon;
            span {
                color: $lightgreen; 
            } 
        }
    }
}
