.lineChart {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    &--div {
        width: 100%;
        height: 400px;
    
        background-color: $black--light--opacity;
        border: 1px solid $black;
    }
    &--span {
        margin-top: 20px;
        
        background: $black--opacity;
        border: 1px solid $light--sandybrown;
        border-radius: 7px;
        color: $sandybrown;

        padding: 10px 30px;
        transition: ease 0.5s;
        a {
            text-decoration: none;
            color: $sandybrown; 
        }
        &:hover {
            background: $sandybrown;
            a {
                text-decoration: none;
                color: $black--42; 
            }
        }
    }
}
