.lineChart {
    @include displayFlexDir();
    &--container {
        display: flex;
        @include widthHeight(100%, 400px);    
        @include bgBdBr($black--light--opacity, $black);
    }
    &--a {
        margin-top: 20px;
        @include bgBdBr($black--opacity, $light--sandybrown);
        text-decoration: none;
        color: $sandybrown;
        padding: 10px 30px;
        transition: ease 0.5s;
        span {
            color: $sandybrown; 
        }
        &:hover {
            background: $sandybrown;
            span {
                margin: auto;
                color: $black--42; 
            }
        }
    }
}
