.dataweather {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 80%;
    margin: auto;
    padding: 20px;

    background-color: #ccc;
}

.dataweather--div {
    display: flex;
    flex-direction: column;

    color: #333;
}