.lineChart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 80%;
    margin: auto;
    padding: 20px;

    background-color: #222;
}

.lineChart--div {
    width: 100%;
    height: 400px;

    background-color: whitesmoke;
    border: 1px solid red;

    margin: auto;
}