.lineChart {
    width: 80%;

    background-color: #000;
    border: 1px solid orange;

    margin: auto;
}

.lineChart--div {
    width: 800px;
    height: 400px;

    background-color: lightblue;
    border: 1px solid red;

    margin: auto;
}